:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Ẩn thanh cuộn cho Chrome, Safari, Edge và các trình duyệt dùng nhân Webkit */
*::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh cuộn cho IE, Edge cũ và Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* KHÔI PHỤC LẠI THANH CUỘN CHO BẢNG (TABLE) ANTD ĐỂ CHỐNG LỖI KHUẤT CỘT */
.ant-table-content::-webkit-scrollbar,
.ant-table-body::-webkit-scrollbar,
.ant-table-header::-webkit-scrollbar {
  display: block !important;
  height: 8px !important;
  width: 8px !important;
}

.ant-table-content::-webkit-scrollbar-track,
.ant-table-body::-webkit-scrollbar-track,
.ant-table-header::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.ant-table-content::-webkit-scrollbar-thumb,
.ant-table-body::-webkit-scrollbar-thumb,
.ant-table-header::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.ant-table-content::-webkit-scrollbar-thumb:hover,
.ant-table-body::-webkit-scrollbar-thumb:hover,
.ant-table-header::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.ant-table-content, .ant-table-body, .ant-table-header {
  scrollbar-width: thin !important; /* Dành cho Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent !important; /* Dành cho Firefox */
}

.main-content {
  padding: 24px 50px;
  margin-top: 64px; /* Default height of Antd Header */
}

@media (max-width: 768px) {
  .main-content {
    padding: 16px 12px;
  }
}